.register-page {
  --background: #ffffff;
}

.back-button {
  align-self: flex-start;
  margin-bottom: 0.5em;
  margin-left: 1rem;
  --padding-start: 0;

  & ion-icon {
    font-size: 1.5rem;
  }
}

.content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2e7d63;
    margin-bottom: 30px;
  }

  ion-label.input-label {
    font-size: 14px;
    margin-top: 12px;
    color: #4a4a4a;
  }

  ion-input {
    background-color: #f6f8f9;
    border-radius: 8px;
    padding: 12px;
    margin-top: 6px;
    font-size: 16px;
    --padding-start: 10px;
    --padding-end: 10px;

    & ion-input[type="tel"] {
      &.ion-valid {
        --highlight-color: #2e7d63;
      }

      &.ion-invalid {
        --highlight-color: var(--ion-color-danger);
      }
    }

    &.password-input {
      --padding-end: 45px; // Espaço para o ícone
      position: relative;

      ion-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.2rem;
        color: #4a4a4a;
        cursor: pointer;
        padding: 8px;
        z-index: 1;

        &:hover {
          color: #2e7d63;
        }
      }
    }
  }

  // Estilo específico para o container do input de senha
  .password-container {
    position: relative;

    ion-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: #4a4a4a;
      cursor: pointer;
      padding: 8px;
      z-index: 1;

      &:hover {
        color: #2e7d63;
      }
    }
  }

  .register-button {
    background-color: #2e7d63;
    border-radius: 8px;
    margin-top: 24px;
    font-weight: 600;
  }

  .footer-text {
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
    color: #333;

    a {
      color: #43c170;
      font-weight: 500;
      margin-left: 4px;
    }
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 400px;
    margin: 40px auto;
  }
}
