<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="back-button" (click)="goChallenge()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="green-text">{{ challenge?.title}}</ion-title>

     <ion-buttons slot="end">
      <ion-menu-button side="end" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="challenge-details-page">
  <div class="container" *ngIf="challenge">
    <ion-img [src]="challenge.imageBanner" class="challenge-image"></ion-img>

    <div class="description-section">
      <p class="label"><strong>Atividade coletiva:</strong></p>
      <p class="description">{{ challenge.description }}</p>
    </div>
    <div class="participants-section">
      <p class="label"><strong>Participantes</strong></p>
      <div class="avatars-row">
        <ion-avatar *ngFor="let participant of participants">
          <img [src]="participant.avatar != undefined ? participant.avatar : '../../../assets/images/default-user.png' "
            alt="{{ participant.name }}" />
        </ion-avatar>
      </div>
    </div>

    <div class="button-group">
      <ion-button expand="block">
        <ion-icon name="attach-outline" slot="start"></ion-icon>
        Registrar atividade
      </ion-button>
      <ion-button expand="block">
        Concluir desafio
      </ion-button>
    </div>
  </div>

  <div class="container" *ngIf="!challenge">
    <p>Carregando detalhes do desafio...</p>
  </div>
</ion-content>