<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="back-button" (click)="goHome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="title-page">Desafios</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button side="end" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="challenge-page">
  <div class="container">
    <p class="points">{{ userPoints }} Pontos</p>

@for (challenge of challenges; track challenge.id) {
    <ion-card class="challenge-card" (click)="goChallengeDetails(challenge.id)">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="challenge.image" alt="{{ challenge.title }}" />
        </ion-thumbnail>
        <ion-label>
          <h2 class="title">{{ challenge.title }}</h2>
          <p class="description">{{ challenge.description }}</p>
        </ion-label>
        
      </ion-item>
<div class="points-tag">{{ challenge.score }} pts</div>
      <ion-button
        expand="block"
        [ngClass]="challenge.status + '-button'"
        (click)="challenge.status === 'participate' ? participateChallenge(challenge.id) : seeMoreChallenge(challenge.id)"
      >
        {{ getButtonText(challenge) }}
      </ion-button>
    </ion-card>
  }
  </div>
</ion-content>