<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center title-green">Educação</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterCourses($event)"
      placeholder="Procurar cursos"
      class="custom-searchbar"
    ></ion-searchbar>
  </div>

  <div class="courses-container">
    <div *ngFor="let course of courses$ | async" class="course-card">
      <img [src]="course.thumbnail" [alt]="course.title" class="course-image">
      <div class="course-content">
        <h2 class="course-title">{{ course.title }}</h2>
        <p class="course-description">{{ course.description }}</p>
        <ion-button 
          expand="block" 
          class="start-button"
          (click)="startCourse(course)"
        >
          Iniciar curso
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>