:root {
    --ion-color-primary: #2e7d63;
    --ion-color-secondary: #fff;
    --ion-color-tertiary: #fff;
    --ion-color-base: #fff;
    --ion-background-color: #fff;
    --ion-text-color: #000;
}

ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}